*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body,html{
    height: 100%;
    width: 100%;
    background-color: #242424;
  }
  
.searchbutton{
    /* position:absolute; */
    padding: 18px;
    width: 900px;
    top: 5rem;
    margin-left: 20%;
    
    color: #242424;
    background-color: #fff;

}